@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar personalizzata per un look più moderno */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 rounded-full border-4 border-transparent bg-clip-padding;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400;
}

.rm-gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-red-600 to-red-500;
}
